// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
// Variables
@import 'variables';

$fa-font-path: "../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.min.css';
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import '~vue2-dropzone/dist/vue2Dropzone.css';
.navbar-laravel {
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.router-link-exact-active {
  background-color: #3F51B5;
  color: #FFFFFF !important;
}

.svg-image {
  height: 2rem;
  width: 2rem;
}

a {
  cursor: pointer;
}